.page-footer{
    background: #13477e;
}

.navbar {
   background: #e5eef7; 
}

body {
    background-color: lightblue;
}
  .nav-link {
      color: black;
  }
  .nav-link:hover {
      background-color: mediumblue;
      color: white;
  }
  .nav-link:active {
      background-color: tomato;
  }

  #search {
      width: 300px;
      height: 40px;
      padding: 15px;
      background-color: #c4c4c4;
      border: 1px transparent;
      border-radius: 15px;
  }
