.container{
    box-shadow: 0 5px 20px rgba(0,0,0, 0.5); 
    padding: 40px;
    border-radius: 15px;
    width: 450px;
    background: white;
    /*meletakkan form ke tengah*/
    margin: 80px auto;
    padding: 50px 40px;
}

button {
    width: 49%;
}