.container{
    box-shadow: 0 5px 20px rgba(0,0,0, 0.2); 
    border-radius: 10px;
    width: 800px;
    background: white;
    margin: auto;
    margin-bottom: 60px;
    padding: 35px 30px;
}

.info{
    width: 800px;
    margin: auto;
}

body {
    background-color: lightblue;;
}

button {
    width: 20%;
}

.page-footer{
    background: #13477e;
}

.navbar {
   background: #e5eef7; 
}
